@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.navbar1{
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 118px;
    margin-top: 50px; 
    left: 100px; 
    margin-left: -90px;
    /* gap: 269px; */
}

.bg-body-light img{
    width: 90px;
    height: 118px;
    margin: 25px;
}

/* .logo-name1{
    width: 184px;
    height: 118px;
} */

.logo-name{
    width: 94px;
    height: 60px;
    font-family: Lobster;
    font-size: 48px;
    font-weight: 400;
    line-height: 60px;
    text-align: left;
    color: white !important;
    margin-top: 20px;
    margin-left: -40px; 
    padding-right: 180px;

}

.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 194px;
}

.nav-cart{
    display: flex;
    width: 76px;
    height: 42px;
    border-radius: 5px;
    border: 1px;
    background: linear-gradient(93.91deg, rgba(255, 255, 255, 0.5) -6.18%, rgba(255, 255, 255, 0.4) 101.3%);
    align-items: center;
    justify-content: center;
    border: 1px solid;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0.5) 0%, rgba(153, 153, 153, 0.5) 100%);
    box-shadow: 0px 20px 40px 0px #0000001A;
}

.nav-cart img{
    width: 20px;
    height: 20px;
    margin: 8px;
}

.me-auto{
    width: 330px;
    height: 39px;
    gap: 10px;
    opacity: 0px;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 18.77px;
    text-align: left;
    color: #FFFFFF !important;
}

.nav-link{
    color: #FFFFFF !important;
}

.nav-link:hover {
    color: #ddd !important;
}

.search-bar {
    position: relative;
    width: 250px;
    
  }

.search-bar::placeholder{
    color: #FFFFFF !important;
}
  
  .search-bar .search-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .search-bar .search-icon img {
    width: 16px;
    height: 16px;
    margin-left: 2px;
  }
  
  .search-bar input {
    padding-left: 30px; /* Make space for the search icon */
    background: linear-gradient(93.91deg, rgba(255, 255, 255, 0.5) -6.18%, rgba(255, 255, 255, 0.4) 101.3%);
    

  }

@media only screen and (max-width: 768px) {
    .navbar{
        width: 398px;
    }
}