@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
  margin: 0;
  padding: 0;
  background-color: #F1F1F2 !important;
  overflow-x: hidden;
}
.header{
  background: linear-gradient(rgba(51, 51, 51, 0.5), rgba(51, 51, 51, 0.5)), url('../src/Component/Assets/pexels-heyho-6538898 1.png');
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  margin-top: -50px;
  z-index: -1;
  
}

.header-text{
  width: Fixed (551px)px;
  height: Hug (50px)px;
  top: 657px;
  left: 99px;
  gap: 3px;
  opacity: 0px;
  margin-top: 350px;
  margin-left: 100px;

}

.header-text h3{
  width: 551px;
  height: 28px;
  gap: 0px;
  opacity: 0px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 28.15px;
  text-align: left;
  color: #FFFFFF;
  padding: 20px 20px
}

.header-text p{
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: left;
  color: #FFFFFF;
  width: 551px;
  height: 19px;
  gap: 0px;
  opacity: 0px;
  padding: 0 20px;
}

.header-button{
  display: flex;
  /* flex-wrap: wrap; */
  padding: 0 118px;
  width: 1025px;
  height: 50px;
  top: 714px;
  left: 100px;
  gap: 8px;
  opacity: 0px;
}

.custom-button1{
  width: 118px;
  height: 50px;
  background-color: #564E3B !important;
  color: white; 
  font-size: 16px !important; 
  padding: 4px 10px !important; 
  border: none !important;
  border-radius: 5px !important; 
  cursor: pointer;
  transition: background-color 0.3s !important; 
  white-space: nowrap !important;
  text-align: center !important;
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 18.77px;
  text-align: left;
  padding-top: 12px !important;

}

.custom-button{
  width: 194px !important;
  height: 50px !important;
  background-color: #FFFFFF !important;
  color: #564E3B !important; 
  font-size: 16px !important; 
  padding: 4px 20px !important; 
  border: none !important;
  border-radius: 5px !important; 
  /* cursor: pointer !important; */
  transition: background-color 0.3s !important; 
  white-space: nowrap !important;
  text-align: center !important;
  padding-top: 12px !important;
}

.productlist{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 101px;
  
}

.line1{
  border: 1px solid #000000;
  width: 1440px;
  margin-top: 20px;
  margin-bottom: 5px;
  
}

.line2{
  border: 1px solid #000000;
  width: 1440px;
  margin-top: 5px;
  margin-bottom: 5px;
  
}

.productlist h1{
  font-family: 'Work Sans';
  font-size: 20px;
  font-weight: 400;
  line-height: 23.46px;
}

.productlist_items {
  display: flex;
  flex-wrap: wrap;
  gap: 19px;
  justify-content: center;
}

.productlist_item {
  flex: 1 1 calc(33.333% - 19px); 
  box-sizing: border-box;
  max-width: calc(33.333% - 19px);
  
}

.productlist_item image{
  width: 348px;
  height: 240px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;

}

.item-description{
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: center;


}

.item-price{
  font-family: 'Work Sans';
  font-size: 24px;
  font-weight: 500;
  line-height: 28.15px;
  text-align: left;
  color: #6C0345;
  margin-left: 120px;
}

.item-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cart-button{
  width: 111px;
  height: 50px;
  padding: 10px;
  gap: 10px;
  border-radius: 5px;
  opacity: 0px;
  background: #564E3B;
  color: #FFFFFF;

}

.item-card{
  width: 370px;
  height: 380px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
  margin-bottom: -20px;
  margin-left: 10px;
}

.about{
  display: flex;

}

.about-us{
  margin-top: 200px;
  margin-left: 145px;
  width: 586px;
}

.about-us h1{
  font-family: 'Work Sans';
  font-size: 32px;
  font-weight: 600;
  line-height: 37.54px;
  text-align: left;
}

.about-us p{
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: justified;
}

.about img{
  margin-top: 150px;
  width: 400px;
  height: 277px;
  top: 3919px;
  left: 699px;

}

.subscribe{
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-top: 100px; 
  margin-bottom: 50px;
 
}

.subscribe h1{
  /* display: grid;
  place-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Work Sans';
  font-size: 32px;
  font-weight: 500;
  line-height: 37.54px;
  color: #000000;
}

.subscribe-input{
  display: flex;
  margin-left: 35%;
  margin-top: 20px;
}

.subscribe-input input{
  margin-right: 2px;
  width: 310px;
  height: 30px;
  border: 2px solid #564E3B
}

.subscribe-input input::placeholder{
font-family: 'Work Sans';
font-size: 16px;
font-weight: 500;
line-height: 18.77px;
text-align: left;
color: #564E3B;
}

.subscribe-input button{
  background: #564E3B;
  color: #FFFFFF;
  width: 98px;
  font-family: 'Work Sans';
}

.cart{
  width: 95px;
height: 62px;
margin-top: 10px;
margin-left: 127px;
padding: 10px 0px 0px 0px;
gap: 10px;
opacity: 0px;

}

.cart h1{
  font-family: 'Work Sans';
  font-size: 36px;
  font-weight: 500;
  line-height: 42.23px;
  text-align: left;

}

.line3{
  width: 1440px;
  height: 0px;
  border: 1px 0px 0px 0px;
  border: 1px solid #564E3B

}

.cart-card{
  /* display: flex; */
  width: 1240px;
  height: 346px;
  margin-top: 20px;
  margin-left: 60px;
  padding: 17px 0px 16px 22px;
  gap: 0px;
  opacity: 0px;
  background: #FFFFFF;
}

.cart-img{
  display: flex;
}



.cart-des{
  width: 497px;
  margin-top: 66px;
  gap: 5px;
  padding-left: 10px;

}

.cart-des h4{
  font-family: 'Work Sans';
  font-size: 20px;
  font-weight: 500;
  line-height: 23.46px;
  text-align: left;
  color: #000000;
}

.cart-des p{
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: left;
  color: #000000;

}

.cart-drop{
  display: flex;
}

.dropdown{
  width: 133px !important;
  height: 50px !important;
  padding: 10px 0px 0px 0px !important;
  gap: 10px !important;
  border-radius: 5px 0px 0px 0px !important;
  border: 1px 0px 0px 0px !important;
  /* background-color: #FFFFFF !important; */
  /* border: 1px solid #000000 */

}

#dropdown-basic{
  background-color: #FFFFFF !important;
  border: 1px solid #000000;
  color: #000000;

}

.cart-drop p{
  width: 135px;
  height: 48px;
  padding: 10px 0px 0px 70px;
  gap: 10px;
  opacity: 0px;
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.15px;
  text-align: left;
  color: #6C0345;
}

.remove{
  width: 106px;
/* height: 39px; */
padding-top: 0px;
margin-left: 210px;
/* padding: 10px 0px 0px 0px; */
gap: 10px;
border-radius: 8px 0px 0px 0px;
font-family: 'Work Sans';
font-size: 16px;
font-weight: 400;
line-height: 18.77px;
color: #6C0345;
cursor: pointer;
}

.cart-sum{
  /* display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; */
  margin-left: 25%;
}

.cart-sum h1{
  width: 155px;
  height: 23px;
  margin-top: 20px;
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.46px;
  text-align: left;
}

.cart-det{
  display: flex;
  gap: 450px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cart-details{
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: left;
  color: #000000;

}

.detail-price{
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 500;
  line-height: 18.77px;
  text-align: left;
  color: #6C0345;

}

.cart-sum button{
  width: 625px;
  height: 43px;
  border-radius: 5px;
  padding: 10px;
  background: #564E3B;
  color: #FFFFFF;
  margin-bottom: 200px;
}

.payment{
  display: flex;
  width: 1044px;
  height: 595px;
  margin-top: 130px;
  margin-left: 198px;
  margin-bottom: 150px;
  gap: 30px;
}

.payment-con{
  width: 522px;
  height: 595px;
  border-right: 1px solid #000000;
  padding-bottom: 50px;
}

.payment h3{
  font-family: 'Work Sans';
  font-size: 18px;
  font-weight: 700;
  line-height: 21.11px;
  text-align: left;
  color: #000000;
}

.paycon-input{
  display: flex;
  gap: 25px;
}

.payment input{
  background: #FFFFFF;
  border: 1px solid white;
  height: 50px;
  /* border-radius: 3px; */
}

.payment input::placeholder{
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: left;
  color: #808080;
}

.shipp{
  margin-top: 20px;
}

.ship-name{
  display: flex;
  gap: 10px;
}

.ship-location{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
  width: 200px;
  padding-bottom: 10px;
}

.ship-location select{
  border: 1px solid white;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.42px;
  text-align: left;
  color: #808080;
  height: 50px;
}

.street-add input{
  width: 410px;
}

.payment-det{
  width: 522px;
  height: 595px;
}

.payment-method{
  display: flex;
  gap: 10px;
  width: 421px;
}

.credit1{
  background: #564E3B !important;
  color: #FFFFFF !important;
  

}

.payment-method button{
  background: #FFFFFF;
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
}

.payment-method button:hover{
  background: #564E3B;
  color: #FFFFFF;
}

.card-payment{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 10px;
}

.card-payment label{
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: left;
  margin-bottom: 0;
  padding-bottom: 0;

}

.card-expire{
  display: flex;
  justify-content: space-between;
}

.field {
  display: flex;
  flex-direction: column;
}

.card-payment button{
  margin-top: 10px;
  width: 523px;
  background: #564E3B;
  color: #FFFFFF;
  font-family: 'Work Sans';
  font-size: 20px;
  font-weight: 500;
  line-height: 23.46px;
}

.checkout{
  width: 822px;
  height: 640px;
  margin-top: 40px;
  margin-left: 309px;
  margin-bottom: 100px;
  gap: 0px;
  opacity: 0px;
  background: #FFFFFF;
  display: flex;
  flex-direction: column;

}

.checkout-success{
  width: 318px;
  height: 62px;
  margin-top: 33px;
  margin-left: 300px;
  gap: 5px;
}

.checkout-success h1{
  font-family: 'Work Sans';
  font-size: 32px;
  font-weight: 500;
  line-height: 37.54px;
  color: #000000;

}

.checkout-success p{
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: center;
  margin-right: 60px;
}

.checkout-image{
  width: 131px;
  height: 131px;
  margin-top: 17px;
  margin-left: 346px;
  padding: 10.92px;
}

.checkout-details{
  display: flex;
  /* justify-content: space-between; */
  width: 477px;
  height: 139px;
  gap: 25px;
  margin-left: 280px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.checkout-detail {
  width: 117px;
  /* height: 139px; */
  gap: 5px;
}

.checkout-detail p{
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: left;
  color: #000000;

}

.checkout-det{
  width: 335px;
  /* height: 139px; */
  gap: 5px;
}

.checkout-det p{
  font-family: 'Work Sans';
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
  text-align: left;
  color: #000000;
}

.checkout-button{
  width: 169px;
  height: 39px;
  margin-top: 49px;
  margin-left: 327px;
  padding: 10px 0px 0px 0px;
  gap: 10px;
  border-radius: 3px;
}

.checkout-button button{
  background: #564E3B;
  color: #FFFFFF;
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.77px;
}

.need-help{
  width: 77px;
  height: 16px;
  margin-top: 20px;
  margin-left: 12px;
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: left;
  color: #000000;

}

.need-help2{
  width: 532px;
  height: 16px;
  margin-top: 0px;
  margin-left: 12px;
  font-family: 'Work Sans';
  font-size: 12px;
  font-weight: 400;
  line-height: 14.08px;
  text-align: left;
  color: #000000;
  padding-top: 0;
}

.checkout-contact{
  display: flex;
  gap: 15px;
  /* width: 243px; */
  margin-left: 12px;

}

.checkout-contact p{
  font-family: 'Work Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 16.42px;
  text-align: left;
  color: #000000; 
}

.loading{
  text-align: center;
  font-weight: 300;
  font-family: 'Work Sans';
  line-height: 30px;
  color: #000000;
  font-size: 25px;
  margin: 15px;
}

.empty-cart {
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: #808080; 
}

.clear-cart {
  background-color:#808080; 
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 60px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.clear-cart:hover {
  background-color: #808080; 
}

.product-details{
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 20px;
}

.product-details h1{
  font-size: 2em;
  margin: 20px 0;
  color: #333;
}

.product-details p{
  font-size: 1.2em;
  margin: 10px 0;
  color: #555;
}

.product-details .price {
  font-size: 1.5em;
  margin-top: 20px;
  color: #e91e63;
}

@media (max-width: 1024px) {
  .header-text {
    width: 80%;
    margin-left: 10%;
  }

  .header-button {
    width: 80%;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .productlist {
    margin: 0;
  }

  .productlist_item {
    flex: 1 1 calc(50% - 19px);
    max-width: calc(50% - 19px);
  }

  .item-card {
    margin: 10px;
  }
}

@media (max-width: 768px) {
  .header-text {
    width: 90%;
    margin-left: 5%;
    margin-top: 300px;
  }

  .header-button {
    width: 90%;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .productlist_item {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .item-card {
    width: 90%;
    margin: 10px auto;
  }
}

@media (max-width: 375px) {
  .header-text {
    width: 90%;
    height: 46px;
    margin-left: 5%;
    margin-top: 250px;
  }

  .header-button {
    width: 90%;
    padding: 0;
    flex-direction: column;
    align-items: center;
  }

  .item-description {
    font-size: 14px;
  }

  .item-price {
    font-size: 18px;
    margin-left: 0;
    text-align: center;
  }

  .cart-button {
    width: 100px;
    height: 40px;
    padding: 5px;
  }

  .item-card {
    width: 95%;
    margin: 10px auto;
    padding: 10px;
  }
}


